@page "/admin/people/edit/{Id:int}"
@inject NavigationManager Navigation

<PageTitle>Edit @person?.FirstName @person?.LastName</PageTitle>

@if(person != null)
{
    <h3>Edit person</h3>

    <EditForm EditContext="@editContext" OnValidSubmit="SaveChangesAsync">
        <DataAnnotationsValidator />
        <div class="row g-3 mb-3">
            <div class="col-6">
                <label for="title">Title:</label>
                <InputText @bind-Value="@person.Title" id="title" class="form-control" />
                <ValidationMessage For="@(() => person.Title)" />
            </div>
            <div class="col-6">
                <label for="category" title="Staff:1, Students:2, Affiliated Staff:3, Alumni:4">Category: </label>
                <InputNumber @bind-Value="@person.CategoryId" id="category" class="form-control" />
                <ValidationMessage For="@(() => person.CategoryId)" />
            </div>        
        </div>
        <div class="row g-3 mb-3">
            <div class="col-6">
                <label for="firstname">First Name:</label>
                <InputText @bind-Value="@person.FirstName" id="firstname" class="form-control" />
                <ValidationMessage For="@(() => person.FirstName)" />
            </div>
            <div class="col-6">
                <label for="lastname">Last Name:</label>
                <InputText @bind-Value="@person.LastName" id="lastname" class="form-control" />
                <ValidationMessage For="@(() => person.LastName)" />
            </div>
        </div>
        <div class="mb-3">
            <label for="researcharea">Research Area:</label>
            <InputText @bind-Value="@person.ResearchArea" id="researcharea" class="form-control" />
            <ValidationMessage For="@(() => person.ResearchArea)" />
        </div>
        <div class="mb-3">
            <label for="emailaddress">Email Address:</label>
            <InputText @bind-Value="@person.EmailAddress" id="emailaddress" class="form-control" />
            <ValidationMessage For="@(() => person.EmailAddress)" />
        </div>
        <div class="mb-3">
            <label for="biography">Biography:</label>
            <InputText @bind-Value="@person.Biography" id="biography" class="form-control" />
            <ValidationMessage For="@(() => person.Biography)" />
        </div>
        <div class="row g-3 mb-3">
            <div class="col-6">
                <label for="imageurl">Image URL:</label>
                <InputText @bind-Value="@person.ImageURL" id="imageurl" class="form-control" />
                <ValidationMessage For="@(() => person.ImageURL)" />
            </div>
            <div class="col-6">
                <label for="weblink">Web Link:</label>
                <InputText @bind-Value="@person.WebLink" id="weblink" class="form-control" />
                <ValidationMessage For="@(() => person.WebLink)" />
            </div>
        </div>
        <FileUploadComponent person="@person"></FileUploadComponent>

        <button class="btn btn-primary float-end" type="submit">Save</button>
    </EditForm>

    @if(savedChanges && !editContext.IsModified())
    {
        <p><div class="alert alert-success">√ Changes saved</div></p>
    }

}

@code {
    private EditContext editContext = default!;
    private PersonModel? person;
    private bool savedChanges;

    [Parameter]
    public int Id { get; set; }

    [Inject]
    public IPeopleRepository PeopleRepository { get; set; }

    protected override async Task OnInitializedAsync()
    {
        person = await PeopleRepository.GetPerson(Id);
        editContext = new EditContext(person!);
    }

    async Task SaveChangesAsync()
    {
        //if (editContext.IsModified())
        //{
            await PeopleRepository.Update(person);
            editContext.MarkAsUnmodified();
            savedChanges = true;
            Navigation.NavigateTo($"/PersonDetails/{Id}");
        //}
    }
   

}
