@page "/PersonDetails/{Id:int}"

@if(Person == null && ErrorMessage == null)
{
    <DisplaySpinner />
}
else if(ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else
{
    <h3 class="mb-5">Person Details</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mb-4">
                <img class="img-fluid" src="@Person.ImageURL" width="1024" height="1024" />
            </div>
            <div class="col-lg-7">
                <h3 class="text-center">@Person.FirstName @Person.LastName</h3>
                <h3 class="text-center">@Person.Title</h3>
                <p class="mb-4 text-center">
                    <a href="mailto:@Person.EmailAddress">@Person.EmailAddress</a>
                </p>
                <p class="mb-4 text-center">@Person.ResearchArea</p>
                <p class="mb-4">
                    <b>
                        @Person.Biography
                    </b>
                </p>
                <div class="text-center">
                    <a class="btn btn-primary" href="@Person.WebLink" role="button" target="_blank">Research Profile</a>
                </div>

            </div>
        </div>
    </div>
}


@code {

    [Parameter]
    public int Id { get; set; }

    [Inject]
    public IPeopleRepository PeopleRepository { get; set; }

    public PersonModel Person { get; set; }

    public string ErrorMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Person = await PeopleRepository.GetPeople(Id);
        }
        catch(Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }
}
