@if(people == null)
{
    <DisplayError ErrorMessage="No results!"></DisplayError>
}
else
{
    foreach (var p in people)
    {
        <div class="col-xxl-2 col-md-6 col-lg-3 d-flex">
            <div class="card mb-4">
                <a href="/PersonDetails/@p.Id"><img class="img-fluid" src="@p.ImageURL" alt="@p.FirstName" width="1024" height="1024"></a>
                <div class="card-body">
                    <h5 class="card-title mb-3 text-center">
                    @p.FirstName @p.LastName
                    </h5>
                    <p class="card-text text-center pb-2">@p.Title </p>
                </div>
            </div>
        </div>
    }
}

@code {
    [Parameter]
    //public IEnumerable<PersonModel> people { get; set; }
    public IEnumerable<PersonModelDto> people { get; set; }


}
