@if(person != null)
{
    <tr>
        <td>
            <NavLink href="@($"/persondetails/{person.Id}")">@person.FirstName @person.LastName</NavLink>
        </td>
        <td>@person.Title</td>
        <td>@ShortDescription(person.ResearchArea)</td>
        <td>@person.EmailAddress</td>
        <td>
            <button class="btn btn-primary btn-sm" @onclick="OnDetail">
                <span class="oi oi-info"></span>
            </button>
            <button class="btn btn-warningbtn-sm" @onclick="OnEdit">
                <span class="oi oi-pencil"></span>
            </button>
            <button class="btn btn-danger btn-sm" @onclick="OnDelete">
                <span class="oi oi-delete"></span>  
            </button>
        </td>
    </tr>
}

@code {
    [Parameter]
    public PersonModel person { get; set; }

    [Parameter]
    public EventCallback OnDelete { get; set; }

    [Parameter]
    public EventCallback OnEdit { get; set; }

    [Parameter]
    public EventCallback OnDetail { get; set; }

    private string ShortDescription(string description)
    {
        return description.Length <= 35 ? description : description.Substring(0, 35);
    }
}