@inject NavigationManager Navigation

@if(person != null)
{
    <tr>
        <td>
            <NavLink href="@($"/persondetails/{person.Id}")">@person.FirstName @person.LastName</NavLink>
        </td>
        <td>@person.Title</td>
        <td>@person.ResearchArea</td>
        <td>@person.EmailAddress</td>
        <td>
            <button class="btn btn-primary btn-sm" @onclick="HandleDetail">
                <span class="oi oi-bookmark"></span>
            </button>
            <button class="btn btn-warningbtn-sm" @onclick="HandleEdit">
                <span class="oi oi-pencil"></span>
            </button>
            <button class="btn btn-danger btn-sm" @onclick="OnDelete">
                <span class="oi oi-delete"></span>  
            </button>
        </td>
    </tr>
}

@code {
    [Parameter]
    public PersonModel person { get; set; }

    [Parameter]
    public EventCallback OnDelete { get; set; }

    public void HandleDelete()
    {
        OnDelete.InvokeAsync(person);
    }

    public void HandleEdit()
    {
        Navigation.NavigateTo($"/admin/people/edit/{person.Id}");
    }

    public void HandleDetail()
    {
        Navigation.NavigateTo($"/persondetails/{person.Id}");
    }


}